<div id="cont-bancarias"></div>
<script type="text/ractive" id="tpl-bancarias">
  <div class="modal fade" id="bancarias">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <a href="javascript:bancarias.update();" class="pull-right" style="margin-right: 4px"><span class="glyphicon glyphicon-refresh"></span></a>
          <h4 class="modal-title">Cuentas bancarias</h4>
        </div>
        <div class="modal-body">
          {{#if loading}}
            <center><span class="mini-loading"></span> Cargando...</center>
          {{else}}

            {{#if cuentas.length > 0}}
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Banco</th>
                      <th>Cuenta</th>
                      <th>Número</th>
                      <th>Monto</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each cuentas}}
                    <tr>
                      <td>{{nombre_banco}}</td>
                      <td>{{nombre_cuenta}}</td>
                      <td>{{numero_cuenta}}</td>
                      <td>${{dinero}}</td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>

            {{else}}
              {{#if errorMsg}}
                <p><b>Error</b>: {{errorMsg}}</p>
                <p>Intenta nuevamente.</p>
              {{else}}
                <p>No se cargaron cuentas</p>
              {{/if}}
            {{/if}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</script>