<script type="text/ractive" id="tpl-cuentas">
    {{#if loading}}
        <center>
            <span class="mini-loading"></span> Cargando...
        </center>
    {{else}}
        <div class="pull-right">
            <a type="button" class="btn btn-primary" href="javascript:rip.show();">
                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                Importar cuentas
            </a>
            <a type="button" class="btn btn-primary" href="javascript:cuentas.mostrar_agregar();">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Agregar cuenta
            </a>
        </div>

        {{#if cuentas.length > 0}}

            {{#if no_pagadas().length > 0}}
                <p class="lead">
                    Cuentas no pagadas
                    <button class="btn btn-default btn-xs" id="btn-pagar" onclick="cuentas.pagar_nopagadas()">
                        Marcar como pagadas
                    </button>
                </p>

                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Facturación</th>
                                <th class="text-right">Pagar</th>
                                <th class="text-right">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each no_pagadas()}}
                                {{>tpl-cuenta}}
                            {{/each}}

                            <tr>
                                <td colspan="3"></td>
                                <td class="text-right"><b>Total</b></td>
                                <td class="text-right">{{formatearDinero(sumar_np())}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            {{/if}}

            <p class="lead">
                Todas las cuentas
                {{>tpl-cuenta-nav}}
            </p>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Facturación</th>
                            <th class="text-right">Pagar</th>
                            <th class="text-right">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each get_page(pagina_actual)}}
                        {{>tpl-cuenta}}
                    {{/each}}
                    </tbody>
                </table>
            </div>

            {{>tpl-cuenta-nav}}
        {{else}}
            <p class="lead">No tienes cuentas para mostrar</p>
        {{/if}}
    {{/if}}
</script>

<script type="text/ractive" id="tpl-cuenta">
    <tr>
        <td>{{id}}</td>
        <td>{{nombre}}</td>
        <td>{{descripcion}}{{#info}}<br><small class="text-muted">{{info}}</small>{{/}}</td>
        <td>{{fecha_facturacion}}</td>
        <td class="text-right">{{formatearDinero(monto)}}</td>
        <td class="text-right">
            <a href="javascript:;" on-click="creardeuda:{{id}}" class="btn btn-xs btn-primary">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a href="javascript:;" on-click="editar:{{id}}" class="btn btn-xs btn-primary">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </a>
            <a href="javascript:;" on-click="borrar:{{id}}" class="btn btn-xs btn-danger">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </a>
        </td>
    </tr>
</script>


<script type="text/ractive" id="tpl-cuenta-nav">
    <nav>
      <ul class="pagination">
        <li>
          <a href="javascript:;" aria-label="Anterior" on-click="pagina_ant">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {{#each get_page_numbers():i}}
            <li {{#if i == pagina_actual}}class="active"{{/if}}><a href="javascript:;" on-click="pagina:{{i}}">{{i+1}}</a></li>
        {{/each}}
        <li>
          <a href="javascript:;" aria-label="Siguiente" on-click="pagina_sig">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
</script>

<form action="javascript:;" method="POST" class="modal fade" id="agregar-cuenta" name="agregar_cuenta" role="form">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Agregar cuenta</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="nombre" class="col-sm-3 control-label">Nombre</label>
                            <div class="col-sm-9">
                                <input type="text" name="nombre" id="nombre" class="form-control" value="" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="descripcion" class="col-sm-3 control-label">Descripción</label>
                            <div class="col-sm-9">
                                <input type="text" name="descripcion" id="descripcion" class="form-control" placeholder="Sin descripción" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fecha-compra" class="col-sm-3 control-label">Fecha compra</label>
                            <div class="col-sm-9">
                                <input type="date" name="fecha_compra" id="fecha-compra" class="form-control" value="" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fecha-facturacion" class="col-sm-3 control-label">Facturación</label>
                            <div class="col-sm-9">
                                <input type="month" name="fecha_facturacion" id="fecha-facturacion" class="form-control" value="" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="monto-original" class="col-sm-3 control-label">Monto original</label>
                            <div class="col-sm-7">
                                <input type="number" name="monto_original" id="monto-original" step="any" min="0" class="form-control" placeholder="Monto (ej: 2099, 3.99)">
                            </div>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" name="divisa_original" list="divisas" placeholder="CLP" maxlength="3" minlength="3" pattern="[A-Z]{3}" oninput="this.value = this.value.toUpperCase();" value="CLP">
                                <datalist id="divisas">
                                    <option value="CLP">
                                    <option value="USD">
                                    <option value="EUR">
                                    <option value="GBP">
                                </datalist>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="monto" class="col-sm-3 control-label">Monto a pagar</label>
                            <div class="col-sm-9">
                                <input type="number" step="any" name="monto" id="monto" class="form-control" value="" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cuotas" class="col-sm-3 control-label">Cuotas</label>
                            <div class="col-sm-9">
                                <input type="number" name="cuotas" id="cuotas" class="form-control" value="0" required="required" min="-1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pagado" class="col-sm-3 control-label">Pagado</label>
                            <div class="col-sm-9">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="pagado" id="pagado" value="1">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="informacion" class="col-sm-3 control-label">Info. adicional</label>
                            <div class="col-sm-9">
                                <textarea name="info" id="informacion" class="form-control" rows="3" placeholder="Sin información adicional"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success">Agregar</button>
                </div>
            </div>
        </div>
    </form>
    